
/* header */
*{
	box-sizing:border-box
}
.header{
	margin: auto;
	width: 767px;
	display:flex;
	justify-content: space-between;
}

#logo{
	background-color: #DFD5D4;
	width: 199px;
	padding-top: 15px;
}

#menu{
	background-color:#C9E5DA;
	width: 568px;

}
#headerul{
	padding: 0;
	margin: 0;
   list-style-type: none;
	display:flex;
	height: 82px;
	align-items: center;
	justify-content:end;
	
}

.headerLi{
	list-style: none;
	font-weight: 500;
font-size: 24px;
font-weight:600;
line-height: 28px;
color: #003399;
margin-left: 30px;
}

/* main */

.main{
	background: rgba(210, 0, 164, 0.1);
	width: 767px;
	margin: auto;
	padding:39px 0 185px 0;
}

#number{
	font-size: 288px;
	width: 585px;
	color: #F27C0F;
	background: rgba(23, 10, 10, 0.09);
	text-align: center;
	margin: auto;
	padding-bottom: 39px;
}

#buttons{
	height: 116px;
	width: 742px;
	margin: 12px auto 185px auto;
	background: rgba(21, 101, 147, 0.1);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#increase{
	width: 200px;
	height: 58px ;
	background: #003399;
	color: white;
	border: 0
}

#decrease{
	width: 200px;
	height: 58px ;
	background: #F27C0F;
	color: white;
	border: 0
}

#reset{
	width: 200px;
	height: 58px;
	background: #E5E5E5;
	border: 0;
}

/*footer*/

.footer{
	width: 767px;
	height: 76px;
	display: flex;
	align-items: center;
	background: #003399;
   margin: 11px auto 0 auto;
	background: rgba(242, 124, 15, 0.3);
}

#footerlogo{
	padding-top: 10px;
	width: 112px;
	height: 51px;
	background: rgba(196, 196, 196, 0.4);
	margin-right: 12px;
}

.footerMenu{
	width: 361px;
	
}
.footerul{
	height: 40px;
	background: rgba(130, 19, 19, 0.2);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
   list-style-type: none;
}

.footerLi{
	font-weight: 500;
font-size: 16px;
line-height: 19px;

	color: rgba(0, 0, 0, 0.5);
}

.copyright{
	margin-left: 120px;
	color: rgba(0, 0, 0, 0.5);
}